<div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-4">
        <ul class="list-unstyled">
          {{#each sposts}}
          <li class="media" id={{this.PostID}}>
            <img class="icon" src="{{this.post_image}}">
            <div class="media-body">
              <h3 class="mt-0 mb-1">{{this.LocationName}}</h3>
              <p class="starability-result" data-rating={{this.PostRating}}></p>
              <h5>Address: {{this.LocAddr}}, {{this.City}} {{this.State}} {{this.Zip}}</h5>
              <button class="button-learn btn btn-sm" value={{this.PostID}}>Learn More</button>
            </div>
          </li>
          {{/each}}
        </ul>
      </div>
      <div class="col-8">
        {{!-- MAP INFO HERE --}}
      </div>
    </div>
  </div>
</div>