<div>
    <h1>{{LocationName}}</h1>
    <p>Current Rating: {{PostRating}}</p>
    <br>
    <h3> {{LocAddr}} {{City}}, {{State}} {{Zip}}</h3>
    <br>
    <div>
        <img src="{{post_image}}" width="600px" height="auto">
    </div>
    <br>
    <h3>{{PostText}}</h3>
</div>
<br>
<div>
    COMMENTS
</div>