<div class="container">
    <div class="row">
        <div class="col-md-12">
            {{#each sposts}}
            <div id="PostID" data-id="{{this.PostID}}">
                <h1>{{this.LocationName}}</h1>
                <p class="starability-result" data-rating={{this.PostRating}}></p>
                <br>
                <h3> {{this.LocAddr}} {{this.City}}, {{this.State}} {{this.Zip}}</h3>
                <br>
                <div>
                    <img src="{{this.post_image}}" width="600px" height="auto">
                </div>
                <br>
                <h4>{{this.PostText}}</h4>
                <br>
                <h6>{{this.post_user}}</h6>
            </div>
            {{/each}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>Reviews</h2>

            <!-- Pass in data from server.js -->
            <ul>
                {{#each scoms}}
                <li>
                    <p><span class="label">User:</span> {{this.comm_user}}</p>
                    <p class="starability-result" data-rating={{this.CommentRating}}></p>
                    <p><span class="label">Review:</span> {{this.CommentText}}</p>
                    <img src="{{this.comment_image}}" width="200px" height="auto">
                    <button class="delete-com" data-id="{{this.CommentID}}">Delete</button>
                    <a href="/{{this.CommentID}}">Update this Review</a>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {{#each sposts}}
            <h4>Add a Review</h4>
            <form class="create-form" method="post" action="/uploadcomment" enctype="multipart/form-data" id="add-comm"
                name="{{this.PostID}}">

                <div class=" form-group">
                    <fieldset class="starability-basic">
                        <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked
                            aria-label="No rating." />

                        <input type="radio" id="rate1" name="rating" value="1" />
                        <label for="rate1">1 star.</label>

                        <input type="radio" id="rate2" name="rating" value="2" />
                        <label for="rate2">2 stars.</label>

                        <input type="radio" id="rate3" name="rating" value="3" />
                        <label for="rate3">3 stars.</label>

                        <input type="radio" id="rate4" name="rating" value="4" />
                        <label for="rate4">4 stars.</label>

                        <input type="radio" id="rate5" name="rating" value="5" />
                        <label for="rate5">5 stars.</label>

                        <input id="ratings" type="hidden" name="ratings" value="" />

                        <span class="starability-focus-ring"></span>
                    </fieldset>
                </div>
                <div class="form-group row">
                    <label for="inputPhoto">
                        <p>Upload a Photo</p>
                    </label>
                    <input type="file" class="form-control-file" name="commentPhoto" id="inputCommentPhoto">
                </div>

                <div class="form-group">
                    <label for="com">Review:</label>
                    <textarea class="form-control" id="com" name="comment" rows="8" cols="40"></textarea>
                </div>

                <button type="submit">Add Review</button>
            </form>
            {{/each}}
        </div>
    </div>
</div>